.services-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 6rem;
  background-color: #f5f0e9;
  margin-top: 40px;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
}

.services-section__left {
  max-width: 458px;
  width: 50%;
  padding-right: 30px;
}

.services-section__left h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.6px;
  margin-bottom: 20px;
  color: #706458;
}

.find-out-more {
  font-size: 18px;
  text-decoration: none;
  color: #c05233;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}

.find-out-more:hover {
  color: #7c4e4a;
}

.services-section__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 48%;
}

@media (max-width: 1025px) {
  .services-section {
    padding: 2rem;
  }

  .services-section__left h2 {
    font-size: 35px;
  }
}

@media (max-width: 950px) {
  .services-section {
    flex-direction: column;
    width: 390px;
    padding: 3rem 2rem;
  }

  .services-section__left {
    width: 326px;
  }

  .services-section__left h2 {
    width: 100%;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .services-section__right {
    width: 326px;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  .find-out-more {
    margin-top: 0;
    margin-bottom: 41px;
  }
}
