.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  gap: 1rem;
}

.subscribe-input {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  background-color: #faf9f6;
  color: #666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.subscribe-input::placeholder {
  color: #bbb;
}

.subscribe-button {
  padding: 10px 20px;
  background-color: #4c4239;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Karla", "san-serif";
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
}

.subscribe-button:hover {
  background-color: #3b342e;
}

@media (max-width: 950px) {
  .subscribe-container {
    flex-direction: column;
    column-gap: 20px;
  }

  .subscribe-input,
  .subscribe-button {
    margin-top: 16px;
    width: 100%;
  }
}
