.trends-section {
  width: 100%;
  padding: 70px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.trends-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 2rem 6rem;
  justify-content: space-between;
}

.trends__header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.trends__header__left h2 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: -0.3px;
  color: #121212;
}

.trends__header__left p {
  font-family: "Varta", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0 15px 0;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.9);
}

.trends__header__left a {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.3px;
  color: #a06056;
}

.trends__header__left a img {
  vertical-align: middle;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 720px;
}

.carrousel {
  margin: 50px 0;
  width: 100%;
}

.inspirations {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  padding: 2rem 6rem;
  justify-content: space-between;
}

.inspiration-title {
  width: 33.3%;
}

.inspiration-title h3 {
  font-family: "Merriweather";
  font-size: 45px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  vertical-align: text-top;
  color: #534b42;
}

.inspiration-content {
  width: 33.3%;
}

.inspiration-content p {
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #706458;
}

.inspiration-swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  margin-top: 1.3rem;
}

.inspiration-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inspiration-span {
  margin-top: 1rem;
  align-items: flex-start;
  text-align: left;
  width: 25%;
}

.inspiration-span span {
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #706458e5;
}

.swiper-button-prev,
.swiper-button-next {
  position: unset !important;
  border: 2px solid #a06056;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  color: #a06056 !important;
  background: transparent;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: bold !important;
}
